:root{
    --black: #071108;
    --white: #f5f5f5;
}
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    font-family: Poppins;
}
.header{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: "logo navbar";
    background-color: #364652;
    height: 60px;
    padding-right: 30px;
    align-items: center;
}

.nav-list{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
}

.Logo{
    padding-left: 30px;
    font-size: 32px;
    font-weight: 800;
    color: var(--white);
}

.nav{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
}

.hero-section{
    display: grid;
    padding-top: 100px ;
    padding-bottom: 20px;
    padding-left: 5% ;
    padding-right: 5% ;
    background-color: #364652;
    grid-template-areas: 
    "title  hero"
    "info   hero"
    "info   hero"
    "button hero"
    ;
    min-height: 300px;
    gap: 30px;
}

.title{
    grid-area: title;
    font-size: 36px;
    font-weight: 700;
    max-height: 50px;
    color: var(--white);
    align-self: end;
}

.info{
    grid-area: info;
    padding-top: 5px;
    max-width: 600px;
    color: var(--white);
}

.button{
    align-self: end;
}

button{
    grid-area: button;
    border: none;
    padding: 10px 30px;
    background-color: #B5BEC6;
    font-family: Poppins;
    font-weight: 600;
}

.image-content{
    grid-area: hero;
    max-width: 100%;
    min-height: 100%;
}

.project-section{
    display: grid;
    grid-template-areas: 
    "title  title   title   title"
    "card1  card2   card3   card4"
    ;
    padding-top: 50px ;
    padding-bottom: 50px ;
    padding-left: 5%;
    padding-right: 5%;
}

.project-section > .title{
    grid-area: title;
    text-align: center;
    color: var(--black);
    padding-top: 40px;
    padding-bottom: 20px ;
    font-size:28px ;
}

.card{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}

.card > a{
    text-decoration: none;
    color: var(--black);
    padding-top: 10px;
    font-weight: 600;
    
}

.card > img{
    max-width: 100%;
}

.quotes-section{
    background-color: #C7DBE6;
    padding-top: 50px ;
    padding-bottom: 50px ;
    padding-left: 5%;
    padding-right: 5%;
}

.quotes-section > .quotes-text{
    font-family: Poppins;
    font-size: 2vw;
    text-align: justify;
    font-style: italic;
}

.quotes-section > .author{
    font-family: Poppins;
    text-align: right;
    padding-top: 40px;
    font-weight: bold;
    font-size: 18px;
}

.cta-section{
    background-color:#364652 ;
    margin-top: 50px ;
    margin-bottom: 50px ;
    margin-left:100px ;
    margin-right:100px ;
    padding: 30px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
    "text1  cta"
    "text2  cta"
    ;
}

.cta-section > .text1{
    grid-area: text1;
    color: var(--white);
    font-size: 2vw;
    font-family: Poppins;
}
.cta-section > .text2{
    grid-area: text2;
    color: var(--white);
    padding-top: 10px;
}
.cta-section > .cta-button{
    grid-area: cta;
    justify-self: end;
    align-self: center;
}

.footer{
    background-color: #364652;
    text-align: center;
    padding: 10px;
    color: var(--white);
}