:root{
    --black: #071108;
    --white: #fffffe;
    --main: #004643;
    --background:#abd1c6;
    --button:#f9bc60;
    --buttontext:#001e1d;

}
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--background);
}

a{
    text-decoration: none;
    color: var(--black);
}
.header{
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas: "logo navbar";
    background-color: var(--main);
    height: 60px;
    padding-right: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-list{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
}

.Logo{
    padding-left: 66.5px;
    width: 200px;
}

a > img{
    max-width: 100%;
}

a > img:hover{
    transform: translateX(10px);
}

.nav{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
}

.hero-section{
    display: grid;
    padding-top: 100px ;
    padding-bottom: 40px;
    padding-left: 5% ;
    padding-right: 5% ;
    background-color: var(--main);
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    "title  hero"
    "info   hero"
    "button hero"
    ;
    min-height: 470px;
    gap: 30px;
    
}

.title{
    grid-area: title;
    font-size: 36px;
    font-weight: 700;
    max-height: 50px;
    color: var(--white);
    align-self: end;
}

.info{
    grid-area: info;
    padding-top: 5px;
    max-width: 600px;
    color: var(--white);
}

.hero-section > a {
    align-self: end;
}

button{
    grid-area: button;
    border: none;
    padding: 10px 30px;
    background-color: var(--button);
    color: var(--buttontext);
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    justify-self: center;
}

button:hover{
    background-color: #cfd9e2;
    transform: scale(1.01);
}

.image-content{
    grid-area: hero;
    max-width: 100%;
    min-height: 80%;
    opacity: 80%;
}

.project-section{
    display: grid;
    grid-template-areas: 
    "title  title   title   title"
    "dash dash dash dash"
    "card  card   card   card"
    ;
    padding-top: 0px ;
    padding-bottom: 50px ;
    padding-left: 5%;
    padding-right: 5%;
}

.project-section > .title{
    grid-area: title;
    text-align: center;
    color: var(--black);
    padding-top: 40px;
    padding-bottom: 0px ;
    font-size:28px ;
}

.project-section > .line{
    grid-area: dash;
    justify-self: center;
    padding-bottom: 40px;
}

.card{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.card > a{
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    
}

.card > .text{
    padding-top: 10px;
}

.card > img{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border: 2px solid var(--black);
}

.card > img:hover{
    transform: scale(1.05);
    /* transition-delay: 0.1s; */
}

.quotes-section{
    background-color: #e8e4e6;
    padding-top: 50px ;
    padding-bottom: 50px ;
    padding-left: 5%;
    padding-right: 5%;
}

.quotes-section > .quotes-text{
    font-family: Poppins;
    font-size: 1.5vw;
    text-align: justify;
    font-style: italic;
}

.quotes-section > .author{
    font-family: Poppins;
    text-align: right;
    padding-top: 40px;
    font-weight: bold;
    font-size: 18px;
}

.cta-section{
    background-color:var(--main) ;
    margin-top: 50px ;
    margin-bottom: 50px ;
    margin-left:100px ;
    margin-right:100px ;
    padding: 30px;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
    "text1  cta"
    "text2  cta"
    ;
}

.cta-section > .text1{
    grid-area: text1;
    color: var(--white);
    font-size: 2vw;
    font-family: Poppins;
}
.cta-section > .text2{
    grid-area: text2;
    color: var(--white);
    padding-top: 10px;
}
.cta-section > .cta-button{
    grid-area: cta;
    justify-self: end;
    align-self: center;
}

.footer{
    background-color: var(--main);
    text-align: center;
    padding: 10px;
    color: var(--white);
}

.floating-button{    
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #364652;
}

.floating-button:hover{    
    background-color: #364652;
    transform: scale(1.2);
}

.floating-button > span{
    color: var(--white);
}